body {
    text-align: center;
    background-color: darkorange;
}

img {
    height: 450px;
}

button {
    height: 100px;
    width: 100px;
    margin-left: 200px;
    margin-right: 200px;
}
